
body{
    background-color: #fff9e6;

}
.header{
    text-align:center;
    font-size:80px;
    font-weight:130;
    color: #ffcccc;
    background-color: #fff9e6;
}
.footnote{
    text-align:center;
    font-size:20px;
    opacity: 0.5;
}

ul{
    list-style-type:none;
    padding: 2rem;
}
.form-control {
    text-align: center;
}
input{
  text-align: center;
}
ul li{
 font-size:20px;
 font-family: Arial, Helvetica, sans-serif;
}
.form-control {
    border: 0;
}
.todo-list{
    box-shadow: 2px 2px 5px #333;
}
.list-group{
  padding-left: 32px;
}
